<!DOCTYPE html>
<html layout:decorate="~{layout}">
<th:block layout:fragment="cssstyle">
    <link rel="stylesheet" href="/css/club.css"/>
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
</th:block>
<div layout:fragment="content" class="club-content">
    <div class="content-container">
        <div class="club-type-name">
            <!-- 카테고리에 따라 다른 텍스트 출력 -->
            <span class="title" th:text="${category != null ?
    (category == '공연예술분과' ? 'Performing Arts' :
    (category == '사회활동분과' ? 'Social Activity' :
    (category == '생활체육분과' ? 'Life Sports' :
    (category == '예술전시분과' ? 'Art Exhibition' :
    (category == '음악연주분과' ? 'Music Performance' :
    (category == '종교활동분과' ? 'Religious Activities' :
    (category == '학술연구분과' ? 'Academic Research' : ''))))))) : 'ALL'}"></span>
            <span class="subtitle" th:text="${category == null ? '동아리 전체' : category}"></span>

        </div>

        <div class="content-clubs">
            <a th:href="@{|/club/${club.id}|}" class="club-card" th:each="club : ${clubList}">
                <div class="club-img"><img th:attr="src=@{|/club/image/${club.image.storeFileName}|} ,
                alt=${club.name + ' 이미지'}"></div>
                <div class="club-name" th:text="${club.name}"></div>
            </a>
        </div>

    </div>
</div>
</html>
