<!DOCTYPE html>
<html layout:decorate="~{layout}">
<th:block layout:fragment="cssstyle">
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/clubDetail.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
</th:block>
<div layout:fragment="content" class="content">
    <div class="content-container">
        <div class="content-page">
            <ul>
                <li><a href="/html/clubAll.html">동아리 &gt; </a></li>
                <li>
                    <a href="/html/clubPerformingArts.html" th:text="${club.category}+' >'"></a>
                </li>
                <li><a href="/html/clubDetail.html" th:text="${club.name}"></a></li>
            </ul>
        </div>
        <div class="content-title">
            <ul>
                <li id="club-name" th:text="${club.name}">동아리명</li>
                <li id="club-intro" th:text="${club.title}">짧은 소개글</li>
            </ul>
        </div>
        <div class="content-detail">
            <div class="club-photo"><img th:attr="src=@{|/club/image/${club.image.storeFileName}|} ,
                alt=${club.name + ' 이미지'}"></div>
            <div class="club-content">
                <div class="club-slogan">
                    <p id="slogan-title">
                        <img src="/image/Light bulb.png"/> 동아리 설명
                    </p>
                    <p id="slogan-content" th:utext="${club.explanation.replaceAll('\n', '<br>')}">
                    </p>
                </div>
                <div class="club-detail">
                    <div class="club-location">
                        <p id="location-title">
                            <img src="/image/Location.png"/> 동방 위치
                        </p>
                        <p id="location-content" th:text="${club.location}"></p>
                    </div>
                    <div class="club-member">
                        <p id="member-title">
                            <img src="/image/PeopleImg.png"/> 동아리 구성원
                        </p>
                        <p id="member-content" th:text="${memberCount}+'명'"></p>
                    </div>
                    <div class="club-money">
                        <p id="money-title">
                            <img src="/image/Money.png"/> 동아리 회비
                        </p>
                        <p id="money-content" th:text="${club.money}+'원'">20,000원</p>
                    </div>
                </div>
                <div class="club-pre">
                    <!--                    <img src="/image/Leadership.png" th:text="' 동아리 이메일 : '+${club.admin.getEmail()}"/>-->
                    <img src="/image/Leadership.png" th:if="${club.admin != null}"
                         th:text="' 동아리 이메일 : '+${club.admin.getEmail()}"/>
                    <img src="/image/Leadership.png" th:if="${club.admin == null}" th:text="' 동아리 이메일 : '"/>
                </div>
                <div class="club-apply">
                    <img src="/image/Form.png" th:if="${club.applicationFormUrl == null}" th:text="' 지원하기 : 아직 지원폼이 등록되지않았습니다.'"/>
                    <img src="/image/Form.png" th:if="${club.applicationFormUrl != null}" th:text="' 지원하기 : '"/>
                    <a th:if="${club.applicationFormUrl != null}"
                            class="club-form"
                            th:href="${club.applicationFormUrl}"
                            target="_blank"
                    >Google Form</a>
                </div>
            </div>
        </div>
<!--        <div class="edit-button">-->
<!--            <input type="submit" value="소개 수정" id="submit"/>-->
<!--        </div>-->
        <!--        <div class="club">-->
        <!--            <div class="detail-menu">-->
        <!--                <ul>-->
        <!--                    <li><a href="#">동아리 공지</a></li>-->
        <!--                    <li><a href="#">동아리 사진</a></li>-->
        <!--                    &lt;!&ndash; 관리자만 해당 탭이 보이도록 &ndash;&gt;-->
        <!--                    <li><a href="#">동아리 구성원 관리</a></li>-->
        <!--                </ul>-->
        <!--            </div>-->
        <!--            <div>dd</div>-->
        <!--        </div>-->
        <div class="club">
            <div class="detail-tab-menu">
                <ul>
                    <li class="tab active">
                        <a href="#tab01">동아리 공지</a>
                    </li>
                    <li class="tab"><a href="#tab02">동아리 사진</a></li>
                    <!-- 관리자만 아래 탭이 보이도록 -->
                    <li class="tab" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username.equals(admin.email)}"><a href="#tab03">동아리 구성원 관리</a></li>
                    <!-- 관리자만 위의 탭이 보이도록 -->
                </ul>
            </div>
            <div class="detail-tab-content">
                <div id="tab1" class="content active">
                    <div class="notice">
                        <div class="notice-card">
                            <div class="notice-header">
                                <div class="notice-status">
                                    <div class="notice-title">
                                        공지사항 제목공지사항 제목공지사항 제목공지공지사항
                                        제목공지사항 제목공지사항 제목공지공지사항 제목공지사항
                                        제목공지사항 제목공지공지사항 제목공지사항 제목공지사항
                                        제목공지공지사항 제목공지사항 제목공지사항
                                        제목공지공지사항 제목공지사항 제목공지사항
                                        제목공지공지사항 제목공지사항 제목공지사항
                                        제목공지공지사항 제목공지사항 제목공지사항 제목공지
                                    </div>
                                    <img class="notice-user-icon" src="/image/profile.jpg"/>
                                    <div class="notice-user-name">홍길동</div>
                                </div>
                                <!-- 아래 내용은 관리자만 보이도록 설정 -->
                                <div class="notice-edit">
                                    <button class="edit-btn">글 수정</button>
                                </div>
                                <!-- 위의 내용은 관리자만 보이도록 설정 -->
                            </div>
                            <div class="notice-content">
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용
                            </div>
                        </div>
                        <div class="notice-card">
                            <div class="notice-header">
                                <div class="notice-status">
                                    <div class="notice-title">
                                        공지사항 제목공지사항 제목공지사항 제목공지공지사항
                                    </div>
                                    <img class="notice-user-icon" src="/image/profile.jpg"/>
                                    <div class="notice-user-name">홍길동</div>
                                </div>
                                <!-- 아래 내용은 관리자만 보이도록 설정 -->
                                <div class="notice-edit">
                                    <button class="edit-btn">글 수정</button>
                                </div>
                                <!-- 위의 내용은 관리자만 보이도록 설정 -->
                            </div>
                            <div class="notice-content">
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용
                            </div>
                        </div>
                        <div class="notice-card">
                            <div class="notice-header">
                                <div class="notice-status">
                                    <div class="notice-title">
                                        공지사항 제목공지사항 제목공지사항 제목공지공지사항
                                        제목공지사항 제목공지사항 제목공지공지사항 제목공지사항
                                        제목공지사항 제목공지공지사항 제목공지사항 제목공지사항
                                        제목공지공지사항 제목공지사항 제목공지사항
                                        제목공지공지사항 제목공지사항 제목공지사항
                                        제목공지공지사항 제목공지사항 제목공지사항
                                        제목공지공지사항 제목공지사항 제목공지사항 제목공지
                                    </div>
                                    <img class="notice-user-icon" src="/image/profile.jpg"/>
                                    <div class="notice-user-name">홍길동</div>
                                </div>
                                <!-- 아래 내용은 관리자만 보이도록 설정 -->
                                <div class="notice-edit">
                                    <button class="edit-btn">글 수정</button>
                                </div>
                                <!-- 위의 내용은 관리자만 보이도록 설정 -->
                            </div>
                            <div class="notice-content">
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용 공지내용 공지내용 공지내용
                                공지내용 공지내용 공지내용
                            </div>
                        </div>
                    </div>
                    <!-- 관리자만 아래 내용이 보이도록 -->
                    <div class="write-area" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username.equals(admin.email)}">
                        <a href="#" class="write-btn">글 작성</a>
                    </div>
                    <!-- 관리자만 위의 내용이 보이도록 -->
                </div>
                <div id="tab2" class="content">
                    <div class="community" >
                        <a th:href="@{|/community/${post.id}|}" class="community-card" th:each="post : ${posts}">
                            <div class="community-img">
                                <img th:attr="src=@{|/club/image/${club.image.storeFileName}|} ,
                alt=${club.name + ' 이미지'}">
                            </div>
                            <div class="community-user">
                                <div class="community-user-icon"></div>
                                <div class="community-title" th:text="${post.author.name}">작성자1</div>
                                <div class="community-club" th:text="'#' +${post.club.name}">#동아리1</div>
                            </div>
                            <div class="community-desc" th:text="${post.content}">설명</div>
                        </a>

                    </div>
                    <div class="write-area">
                        <a href="#" class="write-btn">추가하기</a>
                        <a href="#" class="write-btn">삭제하기</a>
                    </div>
                </div>
                <!-- 숨겨진 클럽 ID 필드 추가 -->
                <input type="hidden" id="clubId" th:value="${club.id}">
                <!-- 관리자만 아래 내용이 보이도록 -->
                <div id="tab3" class="content" sec:authorize="isAuthenticated()" th:if="${#authentication.principal.username.equals(admin.email)}">
                    <div class="management-count">
                        <img class="group-img" src="/image/PeopleImg.png" alt=""/>
                        <span th:text="${memberCount}+'명'"></span>
                    </div>
                    <div class="management">
                        <div class="member-card" th:each="clubmember : ${members}">
                            <div class="member-inform">
                                <img class="member-icon" src="/image/profile.jpg" alt=""/>
                                <div class="member-name" th:text="${clubmember.member.name}">홍길동</div>
                                <div class="member-major" th:text="${clubmember.member.major}">컴퓨터정보통신공학부</div>
                                <div class="member-id" th:text="${clubmember.member.studentId}">2018253027</div>
                            </div>
                            <div class="member-edit">
                                <button class="edit-btn" id="popup-on" th:attr="data-studentid=${clubmember.member.studentId},
                                 data-membername=${clubmember.member.name}" onclick="showPopup(this)" >동아리 추방</button>
                            </div>
                        </div>
                    </div>
                    <div class="popup-wrap" id="popup">
                        <div class="popup">
                            <div class="popup-body">
                                <div class="body-content">
                                    <div class="body-titlebox">
                                        <p id="popup-title"></p>
                                    </div>
                                    <div class="body-buttonbox">
                                        <button class="edit-yes" id="popup-yes" onclick="leaveClub()" >예</button>
                                        <button class="edit-no" id="popup-no" onclick="hidePopup()" >아니오</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="write-area">
<!--                        <form th:action="@{/member/join}" method="post">-->
<!--                            <label>추가할 구성원의 학번 : </label>-->
<!--                            <input class="member-add-form" type="text" name="studentId" />-->
<!--                            <input type="hidden" name="clubId" th:value="${club.id}" />-->
<!--                            <button type="submit" class="write-btn">구성원 추가하기</button>-->
<!--                        </form>-->
                        <form id="joinForm" th:action="@{/member/join}" method="post">
                            <label>추가할 구성원의 학번 : </label>
                            <input class="member-add-form" type="text" id="studentIdInput" name="studentId" />
                            <input type="hidden" name="clubId" th:value="${club.id}" />
                            <button type="button" class="write-btn" onclick="confirmSubmission()">구성원 추가하기</button>
                        </form>
<!--                        <label>추가할 구성원의 학번 : </label>-->
<!--                        <input class="member-add-form" type="text" />-->
<!--                        <a href="#" class="write-btn">구성원 추가하기</a>-->
                    </div>
<!--                    <div class="write-area">-->
<!--                        <a href="#" class="write-btn">구성원 추가하기</a>-->
<!--                    </div>-->
                </div>
                <!-- 관리자만 위의 내용이 보이도록 -->
            </div>
        </div>
    </div>
</div>

<!--백엔드하다가 스크립트 추가-->
<script layout:fragment="script">
    const tabItem = document.querySelectorAll('.club .detail-tab-menu .tab');
    const tabContent = document.querySelectorAll(
        '.club .detail-tab-content .content'
    );

    tabItem.forEach((item, index) => {
        item.addEventListener('click', (e) => {
            e.preventDefault();

            tabContent.forEach((content) => {
                content.classList.remove('active');
            });

            tabItem.forEach((content) => {
                content.classList.remove('active');
            });

            tabItem[index].classList.add('active');
            tabContent[index].classList.add('active');
        });
    });

    // 동아리원 추방 모달
    // const modal = document.querySelector('#popup');
    // const modalOpen = document.querySelector('#popup-on');
    // const modalYes = document.querySelector('#popup-yes');
    // const modalNo = document.querySelector('#popup-no');
    //
    // modalOpen.addEventListener('click', function() {
    //     modal.style.display = 'flex';
    // });
    // modalYes.addEventListener('click', function() {
    //     modal.style.display = 'none';
    // });
    // modalNo.addEventListener('click', function() {
    //     modal.style.display = 'none';
    // });
    let currentStudentId = null;

    function showPopup(button) {
        currentStudentId = button.getAttribute('data-studentid');
        const memberName = button.getAttribute('data-membername');
        document.getElementById('popup-title').textContent = memberName + "님을 추방하시겠습니까?";
        document.getElementById('popup').style.display = 'block';
    }

    function hidePopup() {
        document.getElementById('popup').style.display = 'none';
    }

    function leaveClub() {
        const clubId = document.getElementById('clubId').value;

        fetch('/member/leave', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({
                'studentId': currentStudentId,
                'clubId': clubId
            })
        }).then(response => {
            if (response.ok) {
                alert("정상적으로 추방되었습니다.");
                location.reload(); // 페이지 새로고침하여 변경 사항 반영
            } else {
                alert("동아리 추방에 실패하였습니다.");
            }
        }).catch(error => {
            console.error('Error:', error);
            alert("An error occurred");
        });
    }

    function confirmSubmission() {
        const studentIdInput = document.getElementById('studentIdInput');
        const studentId = studentIdInput.value;
        const message = studentId + "을 구성원으로 추가하시겠습니까?";

        if (confirm(message)) {
            const form = document.getElementById('joinForm');

            fetch(form.action, {
                method: form.method,
                body: new FormData(form),
            })
                .then(response => {
                    if (response.ok) {
                        return response.text();
                    } else {
                        throw new Error('Network response was not ok');
                    }
                })
                .then(data => {
                    alert('성공적으로 추가되었습니다.');
                    location.reload();
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('회원 가입에 실패했습니다.');
                });
        }
    }
</script>
</html>
