<!DOCTYPE html>
<html layout:decorate="~{layout}">
<th:block layout:fragment="cssstyle">
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/club.css"/>
</th:block>
<div layout:fragment="content" class="club-content">
    <div class="content-container">
        <div class="club-type-name">
            <span class="title">performing Arts</span>
            <span class="subtitle">공연예술분과</span>
        </div>
        <div class="content-clubs">
            <a class="club-card" href="/html/clubDetail.html">
                <div class="club-img"></div>
                <div class="club-name">동아리 1</div>
            </a>
            <a class="club-card">
                <div class="club-img"></div>
                <div class="club-name">동아리 2</div>
            </a>
            <a class="club-card">
                <div class="club-img"></div>
                <div class="club-name">동아리 3</div>
            </a>
            <a class="club-card">
                <div class="club-img"></div>
                <div class="club-name">동아리 4</div>
            </a>
            <a class="club-card">
                <div class="club-img"></div>
                <div class="club-name">동아리 5</div>
            </a>
            <a class="club-card">
                <div class="club-img"></div>
                <div class="club-name">동아리 6</div>
            </a>
        </div>
    </div>
</div>
</html>
