<!DOCTYPE html>
<html layout:decorate="~{layout}">
<th:block layout:fragment="cssstyle">
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
    <link rel="stylesheet" href="/css/contact.css"/>
</th:block>
<div layout:fragment="content" class="content">
    <h1 class="contact-title">Contact</h1>
    <h1 class="contact-description">
        동아리에 대한 정보에 대해 문의가 있으시다면 아래 이메일로 문의
        부탁드립니다.
    </h1>
    <h1 class="contact-email">team_no1@yonsei.ac.kr</h1>
</div>

</body>
</html>
