<footer th:fragment="footerFragment">
    <div class="footer-container">
        <p id="logo-name">MatDongSan</p>
        <p id="copy-name">
            Copyright @ 2024 MatDongSan<br />
            All rights reserved
        </p>
        <div class="about">
            <p id="about-name">MatDongSan</p>
            <p id="about-content">
                About us<br />
                Contact us
            </p>
        </div>
        <div class="support">
            <p id="support-name">Support</p>
            <p id="support-content">
                Help center<br />
                Terms of service<br />
                Legal<br />
                Privacy policy<br />
                Status
            </p>
        </div>
    </div>
</footer>