<header th:fragment="headerFragment">
  <div class="container">
    <div class="head-content">
      <a id="logo" href="/"><img src="/image/logo.png" /></a>
      <div class="head-content-container">
        <ul class="head-content-menu">
          <li><a href="/html/basic.html">About</a></li>
          <li><a href="/html/basic.html">Contact</a></li>
          <li>
            <a th:href="@{/member/mypage}" th:if="${#authorization.expression('isAuthenticated()')}">My Page</a>
            <a th:href="@{/member/login}" th:unless="${#authorization.expression('isAuthenticated()')}">My Page</a>
          </li>
        </ul>
        <ul class="head-content-account">
          <li><a class="signin-btn" sec:authorize="isAnonymous()"  th:href="@{/member/login}">SignIn</a></li>
          <li><a class="signup-btn" sec:authorize="isAnonymous()" th:href="@{/member/signup}">SignUp</a></li>

          <li><a class="signin-btn" sec:authorize="isAuthenticated()"  th:onclick="return false"
                 th:text="${#authentication.principal.name}"></a></li>
          <li><a class="signup-btn" sec:authorize="isAuthenticated()"  th:href="@{/member/logout}">SignOut</a></li>

        </ul>
      </div>
    </div>
    <div class="head-menu">
      <ul>
<!--        <li><a th:href="@{/club/category/all}">동아리</a></li>-->
<!--        <li><a th:href="@{/community/all}">커뮤니티</a></li>-->
        <li>
          <a th:href="@{/club/category/all}">동아리</a>
          <ul class="head-menu-dropdown">
            <li><a th:href="@{/club/category/all}">All</a></li>
            <li><a th:href="@{/club/category/공연예술분과}">공연예술분과</a></li>
            <li><a th:href="@{/club/category/사회활동분과}">사회활동분과</a></li>
            <li><a th:href="@{/club/category/생활체육분과}">생활체육분과</a></li>
            <li><a th:href="@{/club/category/예술전시분과}">예술전시분과</a></li>
            <li><a th:href="@{/club/category/음악연주분과}">음악연주분과</a></li>
            <li><a th:href="@{/club/category/종교활동분과}">종교활동분과</a></li>
            <li><a th:href="@{/club/category/학술연구분과}">학술연구분과</a></li>
            <li>이번 달 최고의 동아리</li>
          </ul>
        </li>
        <li>
          <a th:href="@{/community/category/all}">커뮤니티</a>
          <ul class="head-menu-dropdown">
            <li><a th:href="@{/community/category/all}">All</a></li>
            <li><a th:href="@{/community/category/공연예술분과}">공연예술분과</a></li>
            <li><a th:href="@{/community/category/사회활동분과}">사회활동분과</a></li>
            <li><a th:href="@{/community/category/생활체육분과}">생활체육분과</a></li>
            <li><a th:href="@{/community/category/예술전시분과}">예술전시분과</a></li>
            <li><a th:href="@{/community/category/음악연주분과}">음악연주분과</a></li>
            <li><a th:href="@{/community/category/종교활동분과}">종교활동분과</a></li>
            <li><a th:href="@{/community/category/학술연구분과}">학술연구분과</a></li>
          </ul>
        </li>
        <li><a href="/html/noticeBasic.html">공지사항</a></li>
      </ul>
    </div>
  </div>
</header>