<header th:fragment="headerFragment">
  <div class="container">
    <div class="head-content">
      <a id="logo" href="/"><img src="/image/logo.png" /></a>
      <div class="head-content-container">
        <ul class="head-content-menu">
          <li><a href="/html/basic.html">About</a></li>
          <li><a href="/html/basic.html">Contact</a></li>
          <li>
            <a th:href="@{/member/mypage}" th:if="${#authorization.expression('isAuthenticated()')}">My Page</a>
            <a th:href="@{/member/login}" th:unless="${#authorization.expression('isAuthenticated()')}">My Page</a>
          </li>
        </ul>
        <ul class="head-content-account">
          <li><a class="signin-btn" sec:authorize="isAnonymous()"  th:href="@{/member/login}">SignIn</a></li>
          <li><a class="signup-btn" sec:authorize="isAnonymous()" th:href="@{/member/signup}">SignUp</a></li>

          <li><a class="signin-btn" sec:authorize="isAuthenticated()"  th:onclick="return false"
                 th:text="${#authentication.principal.name}"></a></li>
          <li><a class="signup-btn" sec:authorize="isAuthenticated()"  th:href="@{/member/logout}">SignOut</a></li>

        </ul>
      </div>
    </div>
    <div class="head-menu">
      <ul>
        <li><a th:href="@{/club/category/all}">동아리</a></li>
        <li><a th:href="@{/community/all}">커뮤니티</a></li>
        <li><a href="/html/noticeBasic.html">공지사항</a></li>
      </ul>
    </div>
  </div>
</header>