<!DOCTYPE html>
<html layout:decorate="~{layout}">
<th:block layout:fragment="cssstyle">
  <link rel="stylesheet" href="/css/basic.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/index.css" />
</th:block>
    <div layout:fragment="content"  class="content">
      <div class="content-container">
        <div class="content-slider">
          <div class="carousel">
            <div class="carousel-control">
              <div id="prev" class="carousel-prev"></div>
              <div id="next" class="carousel-next"></div>
            </div>
            <div id="slide1" class="carousel-item active">
              <span
              >OMG 신입부원 모집<br />
                5/29~6/7</span
              >
            </div>
            <div id="slide2" class="carousel-item">
              <span
              >ASCII 해커톤 대회 개최<br />
                5/20~6/10</span
              >
            </div>
            <div id="slide3" class="carousel-item">
              <span>🎉 enactus 이번 달 최고의 동아리 선정!</span>
            </div>
          </div>
        </div>
        <div class="content-clubs">
          <a th:href="@{/club/category/공연예술분과}" class="club-card">
            <div class="club-img"><img src="/image/공연예술분과.png" alt=""/></div>
            <div class="club-name">공연예술분과</div>
          </a>
          <a th:href="@{/club/category/사회활동분과}" class="club-card">
            <div class="club-img"><img src="/image/사회활동분과.png" alt=""/></div>
            <div class="club-name">사회활동분과</div>
          </a>
          <a th:href="@{/club/category/생활체육분과}" class="club-card">
            <div class="club-img"><img src="/image/생활체육분과.png" alt=""/></div>
            <div class="club-name">생활체육분과</div>
          </a>
          <a th:href="@{/club/category/예술전시분과}" class="club-card">
            <div class="club-img"><img src="/image/예술전시분과.png" alt=""/></div>
            <div class="club-name">예술전시분과</div>
          </a>
          <a th:href="@{/club/category/음악연주분과}" class="club-card">
            <div class="club-img"><img src="/image/음악연주분과.png" alt=""/></div>
            <div class="club-name">음악연주분과</div>
          </a>
          <a th:href="@{/club/category/종교활동분과}" class="club-card">
            <div class="club-img"><img src="/image/종교활동분과.png" alt=""/></div>
            <div class="club-name">종교활동분과</div>
          </a>
          <a th:href="@{/club/category/학술연구분과}" class="club-card">
            <div class="club-img"><img src="/image/학술연구분과.png" alt=""/></div>
            <div class="club-name">학술연구분과</div>
          </a>
          <a class="club-card">
            <div class="club-img"><img src="/image/공연예술분과.png" alt=""/></div>
            <div class="club-name">이번 달 최고의 동아리</div>
          </a>
        </div>
      </div>
    </div>
<script layout:fragment="script">
  const prevBtn = document.querySelector('#prev');
  const nextBtn = document.querySelector('#next');
  document.addEventListener('DOMContentLoaded', (event) => {
    const items = document.querySelectorAll('.carousel-item');
    let currentIndex = 0;

    const showPrevSlide = () => {
      items[currentIndex].classList.remove('active');
      currentIndex = (currentIndex - 1 + items.length) % items.length;
      items[currentIndex].classList.add('active');
    };

    const showNextSlide = () => {
      items[currentIndex].classList.remove('active');
      currentIndex = (currentIndex + 1) % items.length;
      items[currentIndex].classList.add('active');
    };

    prevBtn.addEventListener('click', () => {
      showPrevSlide();
    });
    nextBtn.addEventListener('click', () => {
      showNextSlide();
    });
    setInterval(showNextSlide, 5000);
  });
</script>
</html>
