<!DOCTYPE html>
<html layout:decorate="~{layout}">
<th:block layout:fragment="cssstyle">
  <link rel="stylesheet" href="/css/basic.css" />
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/index.css" />
</th:block>
    <div layout:fragment="content"  class="content">
      <div class="content-container">
        <div class="content-slider">슬라이드</div>
        <div class="content-clubs">
          <a href="/html/clubPerformingArts.html" class="club-card">
            <div class="club-img"></div>
            <div class="club-name">공연예술분과</div>
          </a>
          <a class="club-card">
            <div class="club-img"></div>
            <div class="club-name">사회활동분과</div>
          </a>
          <a class="club-card">
            <div class="club-img"></div>
            <div class="club-name">생활체육분과</div>
          </a>
          <a class="club-card">
            <div class="club-img"></div>
            <div class="club-name">예술전시분과</div>
          </a>
          <a class="club-card">
            <div class="club-img"></div>
            <div class="club-name">음악연주분과</div>
          </a>
          <a class="club-card">
            <div class="club-img"></div>
            <div class="club-name">종교활동분과</div>
          </a>
          <a class="club-card">
            <div class="club-img"></div>
            <div class="club-name">학술연구분과</div>
          </a>
          <a class="club-card">
            <div class="club-img"></div>
            <div class="club-name">이번 달 최고의 동아리</div>
          </a>
        </div>
      </div>
    </div>
</html>
