<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="cssstyle">
  <link rel="stylesheet" href="/css/basic.css" />
  <link rel="stylesheet" href="/css/noticeDetail.css" />
  <link rel="stylesheet" href="/css/global.css" />
</th:block>
<div layout:fragment="content" class="content">
  <div class="content-container">
    <table>
      <tr>
        <td id="info-title" th:text="${notice.title}">공지사항 제목</td>
      </tr>
      <tr>
        <td id="info-name" th:text="${notice.club.name}">동아리 1</td>
        <td id="info-date" th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}">2024-04-12</td>
      </tr>
    </table>
<!--    <div id="detail" th:text="${notice.content}">공지사항 내용</div>-->

    <div id="detail" th:utext="${#strings.replace(notice.content, nlString, '<br>')}">공지사항 내용</div>
    <div class="submit">
      <a th:href="@{'/notice/' + ${notice.id} + '/edit'}">
        <input type="button" value="수정하기" id="edit" />
      </a>
      <form th:action="@{'/notice/' + ${notice.id} + '/delete'}" method="post">
        <input type="submit" value="삭제하기" id="del" />
      </form>
    </div>
  </div>
</div>
</html>
