<!DOCTYPE html>
<html layout:decorate="~{layout}">
<th:block layout:fragment="cssstyle">
    <link rel="stylesheet" href="/css/basic.css"/>
    <link rel="stylesheet" href="/css/noticeBasic.css"/>
    <link rel="stylesheet" href="/css/global.css"/>
</th:block>
<div layout:fragment="content" class="content">
    <div class="content-container">
        <h1>공지사항</h1>
        <table>
            <tr onclick='location.href="/html/noticeDetail.html"'>
                <td class="name-club">동아리 1</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 2</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 3</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 4</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 1</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 7</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 8</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 4</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 3</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
            <tr>
                <td class="name-club">동아리 1</td>
                <td class="title-club">공지사항 제목</td>
                <td class="date-club">2024-04-12</td>
            </tr>
        </table>
        <div class="number">
            <a href="">&lt;</a>
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
            <a href="">4</a>
            <a href="">&gt;</a>
        </div>
        <input type="submit" value="글 작성" id="write"/>
    </div>
</div>
</html>
