<!DOCTYPE html>
<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="cssstyle">
  <link rel="stylesheet" href="/css/basic.css"/>
  <link rel="stylesheet" href="/css/noticeEdit.css"/>
  <link rel="stylesheet" href="/css/global.css"/>
</th:block>
<div layout:fragment="content" class="content">
  <div class="content-container">
    <form th:action="@{/notice/{id}/edit(id=${notice.id})}" th:object="${noticeRequest}" method="post">
      <table>
        <tr>
          <td id="info-title">
            <input type="text" th:field="*{title}" placeholder="공지사항 제목"/>
          </td>
        </tr>
        <tr>
          <td id="info-name" th:text="${notice.getClub().getName()}">동아리 이름</td>
          <td id="notice-date" th:text="${#temporals.format(notice.createDate, 'yyyy-MM-dd HH:mm')}">작성 날짜</td>
        </tr>
      </table>
      <div id="detail">
        <tr>
          <td>
            <textarea th:field="*{content}" placeholder="공지사항 내용"></textarea>
          </td>
        </tr>
      </div>
      <div class="submit">
        <input type="submit" value="수정완료" id="submit" />
      </div>
    </form>
  </div>
</div>
</html>
